@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto" style="margin-top: 15svh">
            <h1 class="display-3 fw-bold">Witaj w Material Manager</h1>
            <p class="lead">Nowoczesne narzędzie do zarządzania materiałami budowlanymi i optymalizacji kosztów.</p>
            <a href="/Register" class="btn btn-warning btn-lg fw-bold">Zarejestruj się</a>
            <a href="/About" class="btn btn-primary btn-lg fw-bold">Dowiedz się więcej</a>
        </div>
    </div>
</div>

